.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-inline my-2 my-lg-0{
  display:flex;
}

/* // signup */

.container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(204, 204, 204, 0.233);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  top: 10%;
  left: 40%;
  position: fixed;
  z-index: 10;
  margin: 10px;
  padding: 10px;

}

.loginContainer {
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(204, 204, 204, 0.233);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  top: 10%;
  left: 40%;
  position: fixed;
  z-index: 10;
  margin: 20px;
  margin: 10px;
  padding: 10px;

}


.forgetContainer {
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(204, 204, 204, 0.233);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  top: 10%;
  left: 40%;
  position: fixed;
  z-index: 10;
  margin: 10px;
  padding: 10px;

}
.pading {
  padding: 10px;
  margin: 10px;
}

.forgetSignup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.dashCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px;

}

.dashBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px;

}
.dashContainer {
  margin: 20px;
}

/* cake details css */
.cakeImg {
  width:30vw;
  height: 30vw;
}

.detail-container {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background-color: rgba(233, 233, 233, 0.801);
  width: 100%;
  margin: 30px;
  padding: 10px;

}
.detail-card {

  display: flex;
  justify-content: center;
  flex-direction: row;
}
.detail-card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  align-items: center;

}

.detail-card-body p {
  text-decoration: none;
  color: #282c34;
  

}
.detail-card-body button {
  text-decoration: none;
  width: 10vw;
}

.buttons {
  margin: 5px;
  display: flex;
}

.formContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(204, 204, 204, 0.233);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  z-index: 10;
  margin: 5px;
  padding: 5px;

}
.buy {
  display: flex;
  justify-content: center;
}
